#header {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-right: 30px;
    height: 40px;
}

#header .for-header {
    padding-left: 20px;
}

.textlink {
    color:black;
    font-family: Arial, Helvetica, sans-serif
}

.textlink:link {
    text-decoration: none;
}

.textlink:hover {
    text-decoration: underline;
}

#header #header-text {
    font-size: 13px;
}

#header #apps-logo {
    position: relative;
    top: 8px;
    right: 10px;
    height: 25px;
}

#header #sign-in {
    padding: 8px 25px 8px 25px;
    position: relative;
    top: 12px;
    background-color: #1a73e8;
    color: white;
    border-radius: 10px;
}
html, body {
    height: 90%;
    margin: 0;
    padding: 0;
}

body {
    overflow:hidden;  
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10em;
    padding: 10px 0 10px 0;
}

#google-logo {
    padding-bottom: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e5;
    height: 36px;
    width: 100%;
    padding-left: 20px;
    border-radius: 50px;
}

#searchlogo {
    position: relative;
    top: 8px;
    right: 5px;
}


#search {
    display: flex;
    border-left: white;
    border-right: white;
    width: 30em;
    height: 34px;
    margin-bottom: 20px;
    border: 0 solid #dfe1e5;
}

#buttons {
    display: flex;
    border-radius: 10px;   
}

.search:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search:focus {
    outline: none;
}

#buttons #submit, #buttons #lucky {
    margin-top: 15px;
    margin-right: 30px;
    padding: 8px 25px 8px 25px;
    background: whitesmoke;
}

#main #text {
    padding-top: 20px;
    font-size: 12px;

}

#main .fil, #main .ceb {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    font-size: 13px;
}  

footer #location {
    padding: 20px 0 20px 0px;
    text-indent: 30px;
    border-bottom-width: 10px;
    border-color: black;
    color: darkgray;
    background: whitesmoke;
}

#misc {
    display: flex;
    flex-direction: row;
    background: whitesmoke;
}


#misc .left-side {
    text-indent: 30px;
}

#misc .left1, .left2, .left3, .left4 {
    text-decoration: none;
    padding-right: 10px;    
    color: darkgray;
}

#misc .right-side {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

#misc #settings {
    text-decoration: none;
    color: darkgray;
}

#misc #terms, #misc #privacy {
    padding-right: 1em;
    text-decoration: none;
    color: darkgray;
}

